//
// Alert
//

.alert {
	font-size: $font-size-sm;
}

// Alert heading

.alert-heading {
	font-size: $h4-font-size;
	font-weight: $font-weight-bold;
	margin-top: 0.15rem;
}

// Alert icon
.alert-icon {
	display: inline-block;
	font-size: 1.25rem;
	margin-right: 1.25rem;
	vertical-align: middle;

	i.ni {
		position: relative;
		top: 1px;
	}
}

// Alert text next to an alert icon
.alert-text {
	display: inline-block;
	vertical-align: middle;
}

// Alert links

[class*='alert-'] {
	.alert-link {
		border-bottom: 1px dotted rgba($white, 0.5);
		color: $white;
	}
}
