//
// Circle badge
//

// General styles

.badge-circle {
	align-items: center;
	border-radius: 50%;
	display: inline-flex;
	font-size: 0.875rem;
	height: 2rem;
	justify-content: center;
	text-align: center;
	width: 2rem;
}
