//
// Vertical navbar
//

// Vertical
//
// Creates a vertically aligned version of the navbar
.navbar-vertical {
	box-shadow: $navbar-vertical-box-shadow;

	// Navbar collapse

	@include media-breakpoint-up(md) {
		.navbar-collapse {
			margin-left: -$navbar-padding-x;
			margin-right: -$navbar-padding-x;
			padding-left: $navbar-padding-x;
			padding-right: $navbar-padding-x;

			&::before {
				content: '';
				display: block;
				margin: $navbar-padding-y (-$navbar-padding-x);
			}
		}
	}

	.navbar {
		border-style: solid;
		border-width: 0 0 1px;
	}

	// Navbar light

	.navbar-light {
		background-color: $navbar-light-bg;
		border-color: $navbar-light-border-color;
	}

	// Navbar brand

	.navbar-brand {
		margin-right: 0;
	}

	.navbar-brand-img,
	.navbar-brand > img {
		max-height: 2rem;
		max-width: 100%;
	}

	// Navbar navigaton

	.navbar-nav {
		margin-left: -$navbar-padding-x;
		margin-right: -$navbar-padding-x;

		// Navbar link

		.nav-link {
			font-size: $navbar-nav-link-font-size;
			padding-left: $navbar-padding-x;
			padding-right: $navbar-padding-x;

			&.active {
				position: relative;

				&::before {
					border-left: 2px solid $primary;
					bottom: $nav-link-padding-y;
					content: '';
					left: 0;
					position: absolute;
					top: $nav-link-padding-y;
				}
			}

			// Icon

			> i {
				font-size: 0.9375rem;
				line-height: ($font-size-base * $line-height-base);
				min-width: $navbar-icon-min-width;
			}

			// Dropdown

			.dropdown-menu {
				border: 0;

				.dropdown-menu {
					margin-left: $dropdown-item-padding-x / 2;
				}
			}
		}
	}

	// Navbar navigation
	.navbar-nav .nav-link {
		align-items: center;
		display: flex;
	}

	.navbar-nav .nav-link[data-toggle='collapse'] {
		&::after {
			color: $text-muted;
			content: '\f105';
			display: inline-block;
			font-family: 'Font Awesome 5 Free';
			-webkit-font-smoothing: antialiased;
			font-style: normal;
			font-variant: normal;
			font-weight: 700;
			margin-left: auto;
			text-rendering: auto;
			transition: $transition-base;
		} // Expanded
		&[aria-expanded='true'] {
			&::after {
				transform: rotate(90deg);
			}
		}
	}

	// Second level
	.navbar-nav .nav .nav-link {
		padding-left: $navbar-padding-x + $navbar-icon-min-width;
	}

	// Third level
	.navbar-nav .nav .nav .nav-link {
		padding-left: $navbar-padding-x * 1.5 + $navbar-icon-min-width;
	}

	// Navbar heading
	.navbar-heading {
		font-size: $font-size-xs;
		letter-spacing: 0.04em;
		padding-bottom: $nav-link-padding-y;
		padding-top: $nav-link-padding-y;
		text-transform: uppercase;
	}

	// Expanded navbar specific styles
	&.navbar-expand {
		@each $breakpoint, $dimension in $grid-breakpoints {
			&-#{$breakpoint} {
				@include media-breakpoint-up(#{$breakpoint}) {
					bottom: 0;
					display: block;
					max-width: $navbar-vertical-width;

					overflow-y: auto;
					padding-left: $navbar-vertical-padding-x;
					padding-right: $navbar-vertical-padding-x;
					position: fixed;
					top: 0;
					width: 100%;

					// Container
					> [class*='container'] {
						align-items: stretch;
						flex-direction: column;
						min-height: 100%;
						padding-left: 0;
						padding-right: 0; // Target IE 10 & 11
						@media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
							height: 100%;
							min-height: none;
						}
					}

					// Fixes the vertical navbar to the left
					&.fixed-left {
						border-width: 0 1px 0 0;
						left: 0;
					}

					// Fixed the vertical navbar to the right
					&.fixed-right {
						border-width: 0 0 0 1px;
						right: 0;
					}

					// Navbar collapse
					.navbar-collapse {
						align-items: stretch;
						display: flex;
						flex: 1;
						flex-direction: column;
						margin-left: -$navbar-vertical-padding-x;
						margin-right: -$navbar-vertical-padding-x;
						padding-left: $navbar-vertical-padding-x;
						padding-right: $navbar-vertical-padding-x;

						> * {
							min-width: 100%;
						}
					}

					// Navbar navigation
					.navbar-nav {
						flex-direction: column;
						margin-left: -$navbar-vertical-padding-x;
						margin-right: -$navbar-vertical-padding-x;
					}

					.navbar-nav .nav-link {
						padding: $navbar-vertical-nav-link-padding-y $navbar-vertical-nav-link-padding-x;

						&.active {
							&::before {
								border-bottom: 0;
								border-left: 2px solid $primary;
								bottom: $nav-link-padding-y;
								left: 0;
								right: auto;
								top: $nav-link-padding-y;
							}
						}
					}

					// Second level
					.navbar-nav .nav .nav-link {
						padding-left: $navbar-vertical-padding-x + $navbar-icon-min-width;
					}

					// Third level
					.navbar-nav .nav .nav .nav-link {
						padding-left: $navbar-vertical-padding-x * 1.5 + $navbar-icon-min-width;
					}

					// Navbar brand
					.navbar-brand {
						display: block;
						padding-bottom: (2rem - $navbar-padding-y);
						padding-top: (2rem - $navbar-padding-y);
						text-align: center;
					}

					.navbar-brand-img {
						max-height: 2.5rem;
					}

					// Navbar user
					.navbar-user {
						border-top: 1px solid $border-color;
						margin-left: -$navbar-vertical-padding-x;
						margin-right: -$navbar-vertical-padding-x;
						padding-bottom: $spacer - $navbar-padding-y;
						padding-left: $navbar-vertical-padding-x;
						padding-right: $navbar-vertical-padding-x;
						padding-top: $spacer;

						// Dropup menu
						.dropup .dropdown-menu {
							left: 50%;
							transform: translateX(-50%);
						}
					}
				}
			}
		}
	}
}
