// Dropdown menu

@include media-breakpoint-up(md) {
	.navbar {
		.dropdown-menu {
			margin: 0;
			opacity: 0;
			pointer-events: none;
		}

		.dropdown-menu-arrow {
			&::before {
				background: $dropdown-bg;
				border-radius: 2px;
				bottom: 100%;
				box-shadow: none;
				content: '';
				display: block;
				height: 12px;
				left: 20px;
				position: absolute;
				transform: rotate(-45deg) translateY(12px);
				width: 12px;
				z-index: -5;
			}
		}

		.dropdown-menu-right {
			&::before {
				left: auto;
				right: 20px;
			}
		}

		&:not(.navbar-nav-hover) {
			.dropdown-menu {
				&.show {
					animation: show-navbar-dropdown 0.25s ease forwards;
					opacity: 1;
					pointer-events: auto;
				}

				&.close {
					animation: hide-navbar-dropdown 0.15s ease backwards;
					display: block;
				}
			}
		}

		&.navbar-nav-hover {
			.dropdown-menu {
				display: block;
				opacity: 0;
				pointer-events: none;
				transform: translate(0, 10px) perspective(200px) rotateX(-2deg);
				transition: visibility 0.25s, opacity 0.25s, transform 0.25s;
			}

			.nav-item.dropdown:hover > .dropdown-menu {
				animation: none;
				display: block;
				opacity: 1;
				pointer-events: auto;
				transform: translate(0, 0);
				visibility: visible;
			}
		}

		.dropdown-menu-inner {
			padding: 1rem;
			position: relative;
		}

		// Keyframes

		@keyframes show-navbar-dropdown {
			0% {
				opacity: 0;
				transform: translate(0, 10px) perspective(200px) rotateX(-2deg);
				transition: visibility 0.25s, opacity 0.25s, transform 0.25s;
			}

			100% {
				opacity: 1;
				transform: translate(0, 0);
			}
		}

		@keyframes hide-navbar-dropdown {
			from {
				opacity: 1;
			}

			to {
				opacity: 0;
				transform: translate(0, 10px);
			}
		}
	}
}
