//
// Icon buttons
//

// General styles

.btn {
	font-size: $input-btn-font-size;
	letter-spacing: $btn-letter-spacing;
	position: relative;
	text-transform: $btn-text-transform;
	transition: $transition-base;
	will-change: transform;

	&:hover {
		@include box-shadow($btn-hover-box-shadow);
		transform: translateY($btn-hover-translate-y);
	}

	&:not(:last-child) {
		margin-right: 0.5rem;
	}

	// Icons

	i:not(:first-child),
	svg:not(:first-child) {
		margin-left: 0.5rem;
	}

	i:not(:last-child),
	svg:not(:last-child) {
		margin-right: 0.5rem;
	}
}

// Remove translateY and margin animation when btn is included in a btn-group or input-group

.btn-group,
.input-group {
	.btn {
		margin-right: 0;
		transform: translateY(0);
	}
}

// Size variations

.btn-sm {
	font-size: $input-btn-font-size-sm;
}

.btn-lg {
	font-size: $input-btn-font-size-lg;
}

// Some quick fixes (to revise)

// Fixes
[class*='btn-outline-'] {
	border-width: 1px;
}

.btn-outline-secondary {
	color: darken(theme-color('secondary'), 50%);
}

.btn-inner--icon {
	i:not(.fa) {
		position: relative;
		top: 2px;
	}
}

.btn-link {
	box-shadow: none;
	font-weight: $btn-font-weight;

	&:hover {
		box-shadow: none;
		transform: none;
	}
}

.btn-neutral {
	color: theme-color('primary');
}
